<h3>Welcome to BioInformatics World!</h3>
<br>
<div class="divSol">
  <div>
    <table id="solTable" style="empty-cells: show; width: max-content; float: right;">
      <tr>
        <th colspan="2">&nbsp;</th>
      </tr>
      <tr>
        <th colspan="2">&nbsp;</th>
      </tr>
      <% @sequpairmodel.seq1.each_char do |c| %>
        <tr>
          <td><%= c %></td>
        </tr>
      <% end %>
    </table>
  </div>
</div>
<div class="divOrta">
    <table id="matrix" style="float: left; table-layout: fixed;margin: 0px">
      <tr>
        <th>&nbsp;</th>
        <% @sequpairmodel.seq2.each_char do |c| %>
          <th><%= c %></th>
        <% end %>
      </tr>
      <% @matrixhtml.each do |r| %>
        <tr>
          <% r.each do |c| %>
            <td>
              <%= c.to_s %></td>
          <% end %>
        </tr>
      <% end %>
    </table>
  </div>
</div>