<h3>Evolutionary Substitution Matrice:BLOSUM62</h3>
<br>
<ul id="menu_wrap">
  <li class="button"><%= link_to "Blosum62", :controller => :evosubmatrice, :action => :show %></li>
  <li class="button"><%= link_to "PAM", :controller => :evosubmatrice, :action => :show, :remote => true, disabled: true %></li>
</ul>
