<ul id="menu_wrap" class="White">
  <li class="button"><%= link_to "Welcome", root_path %></li>
  <li class="button"><%= link_to "Aligments", :controller => :sequpairs, :action => :index %></li>
  <li class="button"><%= link_to "EvoSubMatrice", :controller => :evosubmatrice, :action => :index %></li>
  <li class="search"><a href="#"></a><input type="text" placeHolder="Search..."/></li>
</ul>